/* CompletedPage.module.css */
.completedContainer {
  padding: 20px;
  background-color: #ca9457;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.completedContainer h1 {
  color: #333; /* Title text color */
}

.completedTodos {
  margin-top: 20px;
}

.completedTodos h3 {
  color: #333;
  opacity: 1;
}